.Dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}

.DialogItems {
  padding: 10px;

}

.Item a {
text-decoration-line: none;
color: green;
}

.Messages {
  padding: 10px;
}

.Message {
 padding: 2px;
}
a.activeLink {
  color: red;
}